extends ../layouts/mails

//- TITLE
block title
  title Yahia Refaiea - Thanks for joining our two weeks web design

//- BODY
block body
  table(border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
        style="padding: 84px 63px 28px 63px; background-color: #171a19;"): tr: td(align="left" valign="top")
    table(border="0" cellpadding="0" cellspacing="0"
          style="min-width: 280px; width: 100%; max-width: 494px; margin: 0 auto;"): tr: td(align="left" valign="top")
      
      //- HEADER
      table(border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: 21px;")
        tr
          td(align="left" valign="top"): a(href=root.reach.url target="_blank" style="display: block; text-decoration: none; width: 100px;")
            img(src="../includes/images/mails/signature.png" height="28px"
                style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 28px; color: #fff; white-space: nowrap;"
                alt="Yahia Refaiea signature" title="Yahia Refaiea signature")
          td(align="right" valign="top"): a(href=root.reach.url target="_blank" style="display: block; text-decoration: none; width: 100px;")
            img(src="../includes/images/mails/identity.png" height="10px"
                style="display: block; margin: 9px 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 10px; color: #e0a458; white-space: nowrap;"
                alt="Yahia Refaiea identity" title="Yahia Refaiea identity")
        tr: td(align="left" valign="top" style="padding-top: 42px;")
          span(style="display: block; font-family: Georgia, sans-serif; font-weight: 700; font-size: 28px; line-height: 42px; color: #fff;") Thanks for joining our two weeks web design
      
      //- CONTENT
      table(border="0" cellpadding="0" cellspacing="0" width="100%")
        tr: td(align="left" valign="top")
          span(style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 35px; color: #ddd;")
            span(style="display: block; margin-bottom: 7px;") Hi Tom Riddle!
            
            span(style="display: block; margin-bottom: 7px;") I'm glad to have the chance to meet such a great person as you in our workshops in September.
            span(style="display: block; margin-bottom: 7px;") I'm so excited. I'll study your application and reach out to you on August 22. We have limited seats in our workshops. So, please stay tuned and confirm your acceptance immediately.
            
            span(style="display: block;") If you have an emergency or something.. please reach me out at:
            a(href="tel:+963962295406" target="_blank" style="display: block; margin-bottom: 7px; color: #e0a458;") (+963) 96 2295 406
            span(style="display: block;") If it’s not.. go ahead and enjoy these funny cats on YouTube:
            a(href="https://youtu.be/HxM46vRJMZs" target="_blank" style="display: block; color: #e0a458;") https://youtu.be/HxM46vRJMZs
            
            //- span(style="display: block; margin-top: 21px; font-size: 12px; line-height: 21px; color: #666;") Best wishes.
            span(style="display: block; margin-top: 21px; font-size: 14px; line-height: 21px; color: #666;") Best wishes.
